<h1>Bills#show</h1>
<p>Find me in app/views/bills/show.html.erb</p>

<h3><%= @bill.username %></h3>

<p><%= @bill.account_no%></p>

<p><%= @bill.cvv%></p>

<p><%= @bill.valid_from%></p>

<p><%= @bill.valid_to%></p>

<p><%= @bill.amount%></p>